*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
.flex{
    display: flex;
}
body{
    background-color: #FEFCFB;
    font-family: 'Roboto', sans-serif;
    color: #0A1128;
    font-style: regular;
    font-size: clamp(13px, 10vw, 20px);
    line-height: 1.5;
    /* convention du web : séparer paragraphes de 1.3 */
}
img{
    /* garder ratio d'une image  */
    /* border-radius: 3px; */
    object-fit: cover;
    display: block;
    max-width: 100%;
}
div{
    height: auto;
}
.uploadbutton{
    border-radius: 45px;
    height: 40px;
    width: 60px;
    border: 1px solid #1282A2;
    background-color: #1282A2; 
}
.uploadbutton:hover{
    border: 1px solid #FEFCFB;
    background-color: #0A1128; 
}
button{
    border-radius: 5px;
    border: 1px solid #1282A2;
    background-color: #1282A2;
    padding: .4% 3% .4% 3%;
    /* padding: top right bottom left*/
    transition: background-color .5s;
    font-family: 'Roboto', sans-serif;
    color: #FEFCFB;
    font-size: clamp(13px, 10vw, 20px);
    line-height: 30px;
    font-weight: 500;
    justify-content: center;
    align-items: center;
}
button:hover {
    color: #1282A2;
    background-color: #FEFCFB;
    border: 1px solid #1282A2;
}
button a:hover{
    color: #1282A2 !important;
}
p{
    font-size: clamp(13px, 10vw, 20px);
}
h1, h2, h3, h4, h5, h6{
    font-family: 'ABeeZee', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}
h1{
    font-size: clamp(50px, 7vw, 60px);
    color: #FEFCFB;
    letter-spacing: -.2rem;
}
a{
    font-size: clamp(11px, 10vw, 16px);
}
footer a{
    text-decoration: none;
    color: #0F414F;
    margin-top: 8%;
    transition: color .5s;
}

/* HEADER */
/* nav a{
    text-decoration: none;
    color: #0A1128;
    margin-left: 5%;
    transition: color .5s;
}
a:hover{
    color: #0F414F;
} */
nav{
    min-width: 100vw;
    min-height: 10vh;
    background-color: #0A1128;
    padding: 1% 3% 1% 3%;
    /* padding: top right bottom left*/
    display: grid;
    grid-gap: 5%;
	grid-template-columns: .5fr 1fr .3fr .1fr;
	grid-template-rows: 1fr;
    grid-template-areas:    
    "logo title menulinks plus";
}
.logo{
    grid-area: logo;
    align-self: center;
}
.title{
    grid-area: title;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.menulinks{
    grid-area: menulinks;
    justify-content: space-between;
    align-items: center;
}
.header .plus{
    grid-area: plus;
    justify-content: center;
    align-items: center;
}
.header .uploadbutton{
    justify-content: center;
    align-items: center;
}

/* MAIN */
.main{
    min-height: 50vh;
    padding-left: 3%;
    padding-right: 3%;
}

/* FOOTER */
/* button a{
    color: #0A0402 !important;
} */
/* footer a{
    text-decoration: none;
    color: #1282A2;
    margin-top: 8%;
    transition: color .5s;
} */
footer p{
    color: #FEFCFB;
    font-size: clamp(11px, 10vw, 16px);
}
footer{
    padding: 1% 3% 3% 3%;
    /* padding: top right bottom left*/
    background-color: #0A1128;
    display: grid;
    grid-gap: 5%;
    min-width: 100vw;
	min-height: 10vh;
	grid-template-columns: 2fr .4fr .1fr;
	grid-template-rows: 1fr;
    grid-template-areas:    
    "copyright socialmedia plus";
}
.copyright{
    grid-area: copyright;
    justify-content: flex-start;
    align-items: center;
    padding-top: 2%;
}
.socialmedia{
    grid-area: socialmedia;
    justify-content: space-around;
    align-items: center;
}
.footer .plus{
    grid-area: plus;
    justify-content: center;
    align-items: center;
}
.footer .uploadbutton{
    justify-content: center;
    align-items: center;
}

/* MEDIA QUERIES */
@media (max-width: 500px){
    /* HEADER */
     nav{
        padding: 2% 4.5% 2% 3%;
        /* padding: top right bottom left*/
          display: grid;
          grid-template-columns: .5fr .5fr .5fr .5fr .5fr;
          grid-template-rows: 1fr 1.7fr;
          grid-template-areas:    
          "logo . . menulinks plus"
          ". title title title .";
    }

    /* FOOTER */
    footer{
        padding: 3% 5% 0% 3%;
        /* padding: top right bottom left*/
        grid-gap: 10%;
        grid-column-gap: 25%;
        grid-template-columns: 1fr .5fr;
        grid-template-rows: 1fr 1.5fr;
        grid-template-areas:    
        "socialmedia plus"
        "copyright copyright";
    }
    .socialmedia{
        grid-area: socialmedia;
        justify-content: space-around;
        align-items: center;
    }
    .footer .plus{
        grid-area: plus;
        justify-content: flex-end;
        align-items: center;
    }
    .copyright{
        grid-area: copyright;
        justify-content: center;
        align-items: center;
        align-self: center;
    }
}
@media (min-width: 500px) and (max-width: 750px){
    /* HEADER */
    nav{
        padding: 2% 4.5% 2% 3%;
        /* padding: top right bottom left*/
        display: grid;
        grid-template-columns: .5fr .5fr .5fr .5fr .5fr;
        grid-template-rows: 1fr 1.7fr;
        grid-template-areas:    
        "logo . . menulinks plus"
        ". title title title .";
    }
    
    /* FOOTER */    
    footer{
        padding: 3% 4% 3% 3%;
        /* padding: top right bottom left*/
        grid-gap: 10%;
        grid-column-gap: 35%;
        grid-template-columns: 1fr .5fr;
        grid-template-rows: 1fr 1.5fr;
        grid-template-areas:    
        "socialmedia plus"
        "copyright copyright";
    }
    .socialmedia{
        grid-area: socialmedia;
        justify-content: space-around;
        align-items: center;
    }
    .footer .plus{
        grid-area: plus;
        align-items: center;
    }
    .copyright{
        grid-area: copyright;
        justify-content: center;
        align-items: center;
    }
}
